.list-top-separator{
    height: 1px;
    border-radius: 50px;
    background-color: #6A6A6A;
    width: 90%;
}

.list-container{
    display: flex;
    flex-direction: column;
    /* background-color: grey; */
    width: 100%;
    /* padding-left: 15px; */
    flex-grow: 1;
    align-items: center;
    overflow-y: auto;
    margin-left: auto;
}

.list-options-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* width */
.list-container::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.list-container::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
.list-container::-webkit-scrollbar-thumb {
    background: #434343;
    border-radius: 50px;
}

/* Handle on hover */
.list-container::-webkit-scrollbar-thumb:hover {
    background: rgb(102, 102, 102);
}

.list-container::-webkit-scrollbar-thumb:active {
    background: #797979;
}