.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2D2D2D;
  color: white;
  flex-grow: 1;
}

.info-picture{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-color: rgb(167, 167, 167);
}

.info-name{
  margin-top: 20px;
  margin-bottom: 50px;
  color: #E2E2E2;
  font-weight: normal;
}

.sub-info-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-info-row{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
}

.sub-info-label{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  color:#979797;
  font-weight: normal;
  font-size: 20px;
}

.sub-info{
  margin-top: 10px;
  margin-bottom: 10px;
  color: #E2E2E2;
  font-weight: normal;
  font-size: 20px;
}

.address-info{
  margin-top: 2px;
  margin-bottom: 2px;
  color: #E2E2E2;
  font-weight: normal;
  font-size: 20px;
}

.sub-info-separator-labels{
  height: 1px;
  background-color: #979797;
  width: 250px;
}

.sub-info-separator-data{
  height: 1px;
  background-color: #979797;
  width: 550px;
}

.info-labels{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.info-data{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.empty-info{
  margin-top: 10px;
  margin-bottom: 10px;
  color: #797979;
  font-weight: normal;
  font-size: 20px;
}

.empty-address{
  margin-top: 2px;
  margin-bottom: 2px;
  color: #797979;
  font-weight: normal;
  font-size: 20px;
}