.search-container{
  display: flex; 
  align-items: center; 
  justify-content: center; 
  width: 100%;

}

.search-bar{
  display: flex;
  align-items: center; 
  justify-content: flex-start; 
  background-color: white;
  height: 40px;
  width: 268px;
  margin-right: 10px;
  border-radius: 47px;
}

.search-glass{
  width: 20px;
  height: 20px;
  color: #A4A4A4;
  margin-left: 10px;
  margin-right: 7px;
}

.search-input{
  height: 100%;
  padding: 0;
  font-size: 16px;
  color: black;
  border-style: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #A4A4A4;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #A4A4A4;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #A4A4A4;
}

.search-input:focus-visible{
  border-style: none;
  outline: none;
}

.search-text{
  margin: 0;
  color: #A4A4A4;
}

.search-gear{
  width: 20px;
  height: 20px;
  color: #A4A4A4;
  cursor: pointer;
}

.search-gear:hover{
  color: #808080;
}

.search-menu-container{
  position: relative;
  display: inline-block;
}

.search-menu {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  background-color: #6A6A6A;
  min-width: 130px;
  box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 3px;
}

.search-option{
  display: flex;
  background-color: #6A6A6A;
  padding: 10px;
  width: 155px;
  text-align: left;
}

.search-option:hover{
  background-color: #7c7c7c;
}

.search-option-label{
  color: white;
}

/* Show the dropdown menu on hover */
.search-menu-container:hover .search-menu {display: flex;}